
@{
  ViewBag.Title = "Criar Cliente";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
  @Html.AntiForgeryToken()
}


<h2>@ViewBag.Title</h2>

<div id="root"></div>

<script type="text/babel">
  class FormCriar extends React.Component {
  constructor(props) {
  super(props);
  this.state = {value: ''};

  this.handleChange = this.handleChange.bind(this);
  this.handleSubmit = this.handleSubmit.bind(this);
  }

  handleChange(event) {
  const target = event.target;
  const nome = target.name;
  const valor = target.value;

  this.setState({[nome]: valor});
  }

  handleSubmit(event) {
  event.preventDefault();

  const nome = this.state.inputNome;
  const sobreNome = this.state.inputSobreNome;
  const endereco = this.state.inputEndereco;


  const form = $('#__AjaxAntiForgeryForm');
  const token = $('input[name="__RequestVerificationToken"]', form).val();

  $.ajax({
  type: "POST",
  url: "/Pessoas/Create",
  data: {
  __RequestVerificationToken: token,

  Nome: nome,
  SobreNome: sobreNome,
  Endereco: endereco
  },
  success: function() {
  alert('O Cliente foi criado.');
  
  },
  error: function() {alert('Não foi possível criar o cliente.');}
  });

  }

  render() {
  return (
  <div>
    <form onSubmit={this.handleSubmit}>
      <div className="form-group">
        <label htmlFor="inputNome">Nome</label>
        <input type="text" value={this.state.inputNome} onChange={this.handleChange} name="inputNome" placeholder="Nome" className="form-control text-box single-line" />
      </div>
      <div className="form-group">
        <label htmlFor="inputSobreNome">Sobrenome</label>
        <input type="text" value={this.state.inputSobreNome} onChange={this.handleChange} name="inputSobreNome" placeholder="Sobrenome" className="form-control text-box single-line" />
      </div>
      <div className="form-group">
        <label htmlFor="inpuinputEndereco">Endereco</label>
        <input type="text" value={this.state.inputEndereco} onChange={this.handleChange} name="inputEndereco" placeholder="Endereço" className="form-control text-box single-line" />
      </div>
        <input type="submit" value="Criar" className="btn btn-default" />
    </form>
    <div id="griddata"></div>
  </div>
  );
  }
  }

  ReactDOM.render(
  <FormCriar />,
  document.getElementById('root')
  );

</script>


<div>
  @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
